{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  {%include 'nav.html'%}
  <div class="container m-5">
    <h2>Rotas disponiveis</h2>
    <ul>
      <li>
        home &#10140; /
      </li>
      <li>
        profile ( rota protegida) &#10140; /profile/
      </li>
      <li>
        Cadastro &#10140; /accounts/signup
      </li>
      <li>
        login &#10140; /accounts/login
      </li>
      <li>
        logout &#10140; /accounts/logoug
      </li>
    </ul>
  </div>
  {%include 'footer.html'%}
{% endblock %}