<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de orçamento</title>
</head>
    <body>

        <div>
            <p>Olá,</p>

            <p>
                Obrigado por se cadastrar na plataforma Dosimagem. Clique no link abaixo para verificar seu e-mail:
            </p>

            <a href={{link}}>Verificando email</a>

            <p>
                Este link expira em <strong>24 horas</strong>. Se você não se inscreveu para uma conta Dosimagem,
                você pode ignorar este e-mail com segurança.
            </p>

            <p>
                Att,
            </p>

            <p>
                A equipe da Dosimagem
            </p>
        </div>
    </body>
</html>
