{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  {%include 'nav.html'%}
  <div class="container m-5">
    <h2>Rotas disponiveis</h2>
    <ul>
      <li>
        home &#10140; <a href="{% url 'index' %}">/</a>
      </li>
      <li>
        profile ( rota protegida) &#10140;  <a href="{% url 'profile' %}">/profile</a>
      </li>
      <li>
        Cadastro &#10140; <a href="{% url 'signup' %}"> /accounts/signup</a>
      </li>
      <li>
        login &#10140; <a href="{% url 'login' %}"> /accounts/login</a>
      </li>
      <li>
        logout &#10140;  <a href="{% url 'logout' %}">/accounts/logout</a>
      </li>
      <li>
        password_reset &#10140;  <a href="{% url 'password_reset' %}">/accounts/password_reset/</a>
      </li>
      <li>
        admin &#10140;  <a href="{% url 'admin:login' %}">/dosimagem/admin/</a>
      </li>
    </ul>
  </div>
  {%include 'footer.html'%}
{% endblock %}