__pycache__
.git
.github
.pytest_cache
.venv
.vscode
contrib
db
htmlcov
mediafiles
spec
staticfiles
.coverage
.dockerignore
.env
.gitignore
.pre-commit-config.yaml
build.sh
coverage.xml
docker
Procfile
README.md
*.in
ROTAS.md
runtime.txt
