**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
contrib
.coverage
coverage.xml
db
db.sqlite3
docker
docker-compose.dev.yml
docker-compose.yml
Dockerfile
Dockerfile.dev
.dockerignore
Dosimagem.code-workspace
.ebextensions
.elasticbeanstalk
.env
.git
.github
.gitignore
htmlcov
mediafiles
.platform
.pre-commit-config.yaml
.pytest_cache
.python-version
README.md
requirements-dev.in
requirements.in
ROTAS.md
spec
staticfiles
.venv
.vscode
