<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assinatura de plano</title>
</head>
<body>
    <h1>Assinatura de plano</h1>

    <div>
        <h2>Dados do usuário:</h2>
        <ul>
            <li>Clínica: {{user.profile.clinic}}</li>
            <li>Nome: {{user.profile.name}}</li>
            <li>Email: {{user.email}}</li>
            <li>Telefone: {{user.profile.phone}}</li>
            <li>CNPJ: {{user.profile.cnpj}}</li>
            <li>CPF: {{user.profile.cpf}}</li>
        </ul>
    </div>

    <div>
        <h2>Dados da assinatura:</h2>
        <ul>
            <li>Plano: {{signature.plan}}</li>
            <li>Modalidade: {{signature.modality}}</li>
            <li>Preço: {{signature.price}}</li>
            <li>Desconto: {{signature.discount}}</li>
            <li>Período de teste: {{signature.trial_time}} dias</li>
        </ul>
    </div>

    <div>
        <h2>Benefícios:</h2>
        {%for ben in signature.benefits%}
        <ul>
            <li>{{ben.name}}</li>
        </ul>
        {%endfor%}
    </div>
</body>
</html>
