{% extends 'base/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  {%include 'base/nav.html'%}
  <form>
    <div>
        <label>Camera Factor</label>
        <input/>
    </div>

    <div>
        <label>Radionuclide</label>
        <input/>
    </div>

    <div>
        <label>Injected Activity</label>
        <input/>
    </div>

    <div>
        <label>Injenction Time</label>
        <input/>
    </div>

    <div>
        <label>Images</label>
        <input/>
    </div>
  </form>
  {%include 'base/footer.html'%}
{% endblock %}