{% extends 'base/base.html' %}
{% load static %}
{% block title %}User profile{% endblock %}
{% block content %}

  {%include 'base/nav.html'%}

  <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mt-5 border p-4 bg-ligth shadow">
                <h2>Tabela com os pedidos:</h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">N° pedido</th>
                        <th scope="col">serviço</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data do pedido</th>
                        <th scope="col">Preco Total</th>
                        <th scope="col">Relatório</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in solicitations %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{s.service.name}}</td>
                        <td>{{s.get_status_display}}</td>
                        <td>{{s.created_at}}</td>
                        <td>{{s.total_price}}</td>
                        {%if s.report %}
                            <td><a href="{%get_media_prefix%}{{s.get_path_report}} ">link</a></td>
                        {%else%}
                            <td>Não disponivel</td>
                        {%endif%}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mt-5 border p-3 bg-ligth shadow">
                <span class="badge bg-primary">Client:</span><span class="badge bg-secondary">{{ user.name }} </span>
                <span class="badge bg-primary">Role: </span><span class="badge bg-secondary">{{ user.role }}</span>
                <span class="badge bg-primary">Institution: </span><span class="badge bg-secondary">{{ user.institution }}</span>
            </div>
        </div>
    </div>
  </div>

  {%include 'base/footer.html'%}
{% endblock %}