<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <h1>Contato de Cliente</h1>

    <div>
        <h2>Dados do usuário:</h2>
        <ul>
            <li>Nome: {{full_name}}</li>
            <li>Email: {{email}}</li>
            <li>Cargo: {{role}}</li>
            <li>Clínica: {{clinic}}</li>
            <li>Telefone: {{phone}}</li>
            <li>Assunto: {{subject}}</li>
        </ul>
    </div>

    <div>
        <h2>Messagem:</h2>
        {{message}}
    </div>

</body>
</html>
